/* Base Css Start  */
/* Custom Fonts Linking  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@font-face {
  font-family: helveticaNeue;
  src: url(../fonts/HelveticaNeue.ttf);
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #000;
}

.fix {
  overflow: hidden;
}

p {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-top: 0px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

a {
  font-size: 16px;
}

.img {
  max-width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

span,
a {
  display: inline-block;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.container {
  max-width: 1170px;
}

.cs-padding {
  padding-left: 30px;
  padding-right: 30px;
}

/* Base Css End */

/* head-part-area css start */
.head-part-area {
  padding-top: 40px;
  padding-bottom: 30px;
}

/* head-part-area css end */

/* choose-area css start */
.para.two-column {
  column-count: 2;
  column-gap: 40px;
}

.secondary-title {
  color: #1E4497;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 15px;
}

.primary-title {
  font-size: 48px;
  margin-bottom: 30px;
}

.section-title {
  margin-bottom: 20px;
}

.primary-title a.text-blue {
  font-size: 48px;
  text-decoration: none;
}

.text-blue {
  color: #1E4497;
  transition: .3s;
}

.twin-g-wrapper,
.twin-img-g-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.twin-img-g-wrapper.type-2 {
  margin-left: -15px;
  margin-right: -15px;
  grid-gap: 8px;
}

.twin-img-g-wrapper {
  margin-bottom: 24px;
}

.para p:not(:last-child) {
  margin-bottom: 18px;
}

.blk-img {
  margin-bottom: 40px;
}

/* choose-area css end */

/* video-area css start */
.video-area {
  padding: 50px 0;
}

.video-field {
  margin-bottom: 40px;
}

/* video-area css end */

/* ft-up-area css start */

.ft-up-area {
  padding: 80px 0;
}

.ft-up-area .primary-title {
  margin: 0;
}

.row.ft-up {
  margin-bottom: 50px;
}

/* ft-up-area css end */


/* Media Query */

@media screen and (max-width: 991px) {
  .video-field>iframe {
    height: 400px;
  }
}


@media screen and (max-width: 767px) {

  .twin-g-wrapper,
  .twin-img-g-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .secondary-title {
    font-size: 22px;
    margin-bottom: 14px;
  }

  p {
    font-size: 15px;
  }

  .primary-title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .cs-padding {
    padding-left: 16px;
    padding-right: 16px;
  }

  .twin-img-g-wrapper.type-2 {
    margin-left: -10px;
    margin-right: -10px;
    grid-gap: 10px;
  }

  .row.ft-up .text-end {
    text-align: center !important;
  }

  .row.ft-up div {
    text-align: center;
    margin: 15px 0;
  }

  .ft-up-area {
    padding: 50px 0;
  }

  .primary-title a.text-blue {
    font-size: 30px;
  }

  .row.ft-up {
    margin-bottom: 30px;
  }

  .para.two-column {
    column-count: 1;
    column-gap: 0;
  }

  .video-field>iframe {
    height: 53vw;
  }

  .video-field {
    margin-bottom: 22px;
  }

  .video-area {
    padding: 45px 0;
    padding-bottom: 20px;
  }


}